<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对话框</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <!--inline属性设置表单中元素依次往后显示-->
    <el-form :inline="true">
        <el-form-item label="栏目名称" >
            <el-input placeholder="栏目名称" size="small" v-model="searchVal"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button size="small" @click="search(searchVal)">搜索</el-button>
        </el-form-item>
    </el-form>
    <el-button type="primary" size="small" @click="add">新增</el-button>
    <el-table :data="tableData">
        <el-table-column prop="name" label="栏目名称"></el-table-column>
        <el-table-column prop="desc" label="栏目描述"></el-table-column>
        <el-table-column  label="操作">
            <!--slot-scope属性是表示当前这一行对应的对象，
                  值可以自定义，相当于一个对象名
                  rowData.row是这一行数据的对应的对象-->
            <template slot-scope="rowData">
                <el-button type="primary" size="small" @click="edit(rowData.row)">编辑</el-button>
                <el-button type="danger" size="small" @click="del(rowData.row.id)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--visible.sync设置对话框是否显示
        title是对话框的标题
    -->
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" width="40%" >
        <el-form label-position="left" label-width="80px" :model="formData">
            <el-form-item label="栏目名称">
                <el-input v-model="formData.name"></el-input>
            </el-form-item>
            <el-form-item label="栏目描述">
                <el-input v-model="formData.desc"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取消</el-button>
            <el-button type="primary" @click="save">确定</el-button>
        </div>
    </el-dialog>
    <div class="block">
        <el-pagination
                :current-page="currentPage"
                :total="totalPages"
                :page-sizes="pageSizes"
                layout="total, sizes, prev, pager, next, jumper"
                @size-change="sizeChange"
                @current-change="currentChange"
                >
        </el-pagination>
    </div>
</div>

<!--注意引入顺序-->
<!--引入vue-->
<script src="../js/vue.js"></script>
<!-- 引入ElementUI组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#app",
        data:{
            currentPage:1,
            totalPages:200,
            pageSizes:[10,20,30,40],
            searchVal:"",
            dialogFormVisible:false,
            dialogTitle:"",
            tableData:[
                {
                    id:1001,
                    name:"Football",
                    desc:"足球"
                },
                {
                    id:1002,
                    name:"Basketball",
                    desc:"篮球"
                },
            ],
            formData:{
                id:-1,
                name:"",
                desc:""
            },
        },
        methods:{
            currentChange:function () {
                //页码发生改变的时候触发

            },
            sizeChange:function () {
              //每页显示的数据条数发生改变的时候触发

            },
            search:function (val) {
                alert("搜索"+val);
            },
            add:function () {
                this.formData = -1;
                this.formData.name = "";
                this.formData.desc = "";
                this.dialogTitle="新增栏目"
                this.dialogFormVisible = true;
            },
            del:function (id) {
                this.$confirm('确认删除吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            edit:function (row){
                this.dialogTitle = "编辑栏目"
                this.dialogFormVisible = true;
                this.formData.name = row.name;
                this.formData.desc = row.desc;
            },
            save:function () {
                //1.提交信息到后台
                //2.隐藏对话框
                this.dialogFormVisible=false;
            }
        }
    })
</script>
</body>
</html>